@model Hamporsesh.Application.Core.ViewModels.Questions.QuestionInputDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model=>model.PollId)

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                @Html.DropDownListFor(model => model.Type, Html.GetEnumSelectList(typeof(QuestionType)), new { @class = "form-control" })
                <span asp-validation-for="Type" class="text-danger"></span>

            </div>

            <div class="form-group">
                <input type="submit" value="ساخت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink(linkText: "back", actionName: "Details", controllerName: "polls", routeValues: new { id = Model.PollId })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
