@model Hamporsesh.Application.Core.ViewModels.Account.RegisterDto


@{
    ViewBag.Title = "ثبت نام";
}


<!--  Contact START  -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <form asp-action="register" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group">
                        <label asp-for="DisplayName" class="control-label"></label>
                        <input asp-for="DisplayName" class="form-control" />
                        <span asp-validation-for="DisplayName" class="text-danger" placeholder="نام‌کاربری" required></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger" placeholder="نام‌کاربری" required></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger" placeholder="نام‌کاربری" required></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger" placeholder="نام‌کاربری" required></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="ثبت نام" class="btn btn-primary" />
                    </div>
                </form>

            </div>

        </div>
    </div>
</section>
<!--  CONTACT END  -->
