@model IEnumerable<Hamporsesh.Web.ViewModels.Polls.PollOutPutViewModel>

@{
    ViewData["Title"] = "خانه";
}

@section Banner
{
    <h1 class="banner-title">بهترین مکان برای برگذاری نظرسنجی در وب فارسی</h1>
    <p>
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
        از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
        و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
        جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
        زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
        زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

    </p>

    <a href="#" class="btn btn-white btn-circled">شروع کنیم</a>
}


<!--  ABOUT AREA START  -->
<section id="intro" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="section-heading">
                    <p class="lead"> و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5  d-none d-lg-block col-sm-12">
                <div class="intro-img">
                    <img src="site/images/banner/why-choose.png" alt="intro-img" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 ">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="intro-box">
                            <span>۱.</span>
                            <h4>مدیریت</h4>
                            <p> و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="intro-box">
                            <span>۲.</span>
                            <h4>استراتژی</h4>
                            <p> و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="intro-box">
                            <span>۳.</span>
                            <h4>تجربه</h4>
                            <p> و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="intro-box">
                            <span>۴.</span>
                            <h4>ساخت</h4>
                            <p> و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-cta">
                            <p class="lead ">آیا هنوز سوالی دارید؟ <a href="#contact" class="smoth-scroll">باما تماس بگیرید</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  ABOUT AREA END  -->

<!--  SERVICE PARTNER START  -->
<section id="service-head" class=" bg-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 m-auto">
                <div class="section-heading text-white">
                    <h4 class="section-title">
                        ی دستاوردهای اصلی، و جوابگوی سوالات پیوسته
                    </h4>
                    <p>
                        ی موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE PARTNER END  -->

<!--  SERVICE AREA START  -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="service-box">
                    <div class="service-img-icon">
                        <img src="site/images/icon/007-digital-marketing-3.png" alt="service-icon" class="img-fluid">
                    </div>
                    <div class="service-inner">
                        <h4>نظرسنجی ویدیو</h4>
                        <p>
                            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="service-box ">
                    <div class="service-img-icon">
                        <img src="site/images/icon/008-digital-marketing-2.png" alt="service-icon" class="img-fluid">
                    </div>
                    <div class="service-inner">
                        <h4>نظرسنجی ایمیلی</h4>
                        <p>
                            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="service-box">
                    <div class="service-img-icon">
                        <img src="site/images/icon/003-task.png" alt="service-icon" class="img-fluid">
                    </div>
                    <div class="service-inner">
                        <h4>نظرسنجی امتحانی</h4>
                        <p>
                            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="service-box">
                    <div class="service-img-icon">
                        <img src="site/images/icon/010-digital-marketing.png" alt="service-icon" class="img-fluid">
                    </div>
                    <div class="service-inner">
                        <h4>نظرسنجی درمانی</h4>
                        <p>
                            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="service-box">
                    <div class="service-img-icon">
                        <img src="site/images/icon/006-analytics.png" alt="service-icon" class="img-fluid">
                    </div>
                    <div class="service-inner">
                        <h4>نظرسنجی برای سازمان‌ها</h4>
                        <p>
                            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="service-box">
                    <div class="service-img-icon">
                        <img src="site/images/icon/004-hiring.png" alt="service-icon" class="img-fluid">
                    </div>
                    <div class="service-inner">
                        <h4>نظرسنجی اختصاصی برای شما </h4>
                        <p>
                            و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE AREA END  -->

<!--  BLOG AREA START  -->
<section id="blog" class="section-padding bg-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 m-auto">
                <div class="section-heading">
                    <h4 class="section-title">آخرین پست‌های وبلاگ</h4>
                    <div class="line"></div>
                    <p>
                        ا، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="blog-block ">
                    <img src="site/images/blog/blog-1.jpg" alt="" class="img-fluid">
                    <div class="blog-text">
                        <h6 class="author-name"><span> تکنه‌های کنکوری </span>پویا خالقی</h6>
                        <a href="blog-single.html" class="h5 my-2 d-inline-block">
                            بیشتری را برای طراحان رایان
                        </a>
                        <p>
                            متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="blog-block ">
                    <img src="site/images/blog/blog-2.jpg" alt="" class="img-fluid">
                    <div class="blog-text">
                        <h6 class="author-name"><span>برندینگ </span>رامین شکوهی</h6>
                        <a href="blog-single.html" class="h5 my-2 d-inline-block">
                            در ارائه راهکارها و شرایط سخت تایپ ب
                        </a>
                        <p>
                            داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی د
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="blog-block ">
                    <img src="site/images/blog/blog-3.jpg" alt="" class="img-fluid">
                    <div class="blog-text">
                        <h6 class="author-name"><span>بازاریابی </span>غلام یاری</h6>
                        <a href="blog-single.html" class="h5 my-2 d-inline-block">
                            استفاده از طراحان گرافیک است
                        </a>
                        <p>
                            وم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  BLOG AREA END  -->
<!--  COUNTER AREA START  -->
<section id="counter" class="section-padding">
    <div class="overlay dark-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="counter-stat">
                    <i class="icofont icofont-heart"></i>
                    <span class="counter">460</span>
                    <h5>Our Happy Clients</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="counter-stat">
                    <i class="icofont icofont-rocket"></i>
                    <span class="counter">60</span>
                    <h5>Projects Done</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="counter-stat">
                    <i class="icofont icofont-hand-power"></i>
                    <span class="counter">30</span>
                    <h5>Experienced stuff</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="counter-stat">
                    <i class="icofont icofont-shield-alt"></i>
                    <span class="counter">25</span>
                    <h5>Ongoning Projects</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  COUNTER AREA END  -->