@{
    ViewData["Title"] = "سرویس‌ها";
}

@section Banner
{
    <h1 class="text-white">سرویس‌ها</h1>
    <p>
        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کار
    </p>
}

<!--  SERVICE BLOCK2 START  -->
<section id="service-2" class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="service-box-2">
                    <span>۰۱</span>
                    <h4>
                        متون بلکه روزنامه
                    </h4>
                    <p>
                        است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنا
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box-2">
                    <span>۰۲</span>
                    <h4>
                        زیادی در شصت
                    </h4>
                    <p>
                        زیادی در شصت و سه درصد گذشته، حال و آینده ش
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box-2">
                    <span>۰۳</span>
                    <h4>
                        در ارائه راهکارها و شرایط سخت تا
                    </h4>
                    <p>
                        صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE BLOCK2 END  -->

<!--  SERVICE AREA START  -->
<section class="section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                <img src="site/images/bg/2-min.jpg" alt="feature bg" class="img-fluid">
            </div>

            <div class="col-lg-7 pl-4">
                <div class="mb-5">
                    <h3 class="mb-4">
                        شصت و سه درصد گذشته، حال و آینده شناخت ف
                    </h3>
                    <p>
                        و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. 
                        کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و مت
                        خصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                        الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود 
                        در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچی    
                        </p>
                </div>

                <ul class="about-list">
                    <li>
                        <h5 class="mb-2">
                            <i class="icofont icofont-check-circled"></i>
                            می باشد. کتابهای زیاد
                        </h5>
                        <p>
                            زم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                        </p>
                    </li>

                    <li>
                        <h5 class="mb-2">
                            <i class="icofont icofont-check-circled"> </i>
                            ورد نیاز و کاربردها
                        </h5>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از ص
                        </p>
                    </li>

                    <li>
                        <h5 class="mb-2">
                            <i class="icofont icofont-check-circled"> </i>
                            که تمام و دشواری موجود
                        </h5>
                        <p>
                            اهل دنیای موجود طراحی اساسا مورد استفاده قرار گ
                        </p>
                    </li>
                    <li>
                        <h5 class="mb-2">
                            <i class="icofont icofont-check-circled"> </i>
                            ایط فعلی تکنولوژی
                        </h5>
                        <p>
                            ین صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--  SERVICE AREA END  -->